*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}


.footer {
    background-color: #081b31;
    color: aliceblue;
    padding: 20px 10px;
    text-align: center;
    margin-top: 150px;
    font-family: cursive;
}

.footer .name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: aquamarine;
}

.footer .contact a {
    color: #ddd;
    text-decoration: none;
}

.footer .contact a:hover {
    color: #fff;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: cadetblue;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color:  darkslateblue;
}

@media (max-width: 500px) {
    .footer .contact {
        display: block;
        margin-top: 5px;
    }
    .social-icons a {
        font-size: 1.3rem;
        margin: 0 5px;
    }
}